[submodule "dependencies/PolyHook_2_0"]
	path = dependencies/PolyHook_2_0
	url = ../../stevemk14ebr/PolyHook_2_0.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = ../../nlohmann/json.git
[submodule "dependencies/cpr"]
	path = dependencies/cpr
	url = ../../libcpr/cpr.git
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = ../../gabime/spdlog.git
[submodule "dependencies/cpp-httplib"]
	path = dependencies/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "dependencies/openssl-cmake"]
	path = dependencies/openssl-cmake
	url = https://github.com/janbar/openssl-cmake.git
