#pragma code_page(65001) // UTF-8
#include <verrsrc.h>

#define PROJECT_VERSION             ${PROJECT_VERSION_MAJOR},${PROJECT_VERSION_MINOR},${PROJECT_VERSION_PATCH},0
#define PROJECT_VERSION_STR         "${PROJECT_VERSION}"

#ifdef _DEBUG
#define PROJECT_FILEFLAGS               VS_FF_DEBUG
#else
#define PROJECT_FILEFLAGS               0
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     PROJECT_VERSION
PRODUCTVERSION  PROJECT_VERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       PROJECT_FILEFLAGS
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "ʕ •ᴥ•ʔ acidicoala"
            VALUE "FileDescription",  "${DLL_FILE_DESC}"
            VALUE "FileVersion",      PROJECT_VERSION_STR
            VALUE "InternalName",     "${PROJECT_NAME}"
            VALUE "LegalCopyright",   "Fuck the copyright 🖕"
            VALUE "OriginalFilename", "${DLL_ORIG_NAME}.dll"
            VALUE "ProductName",      "${PROJECT_NAME}"
            VALUE "ProductVersion",   PROJECT_VERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
